@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet-active {
  background-color: #10b981 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet {
  background-color: white;
  opacity: 0.8;
}
.upcoming .swiper-pagination-bullet {
  background-color: white;
  opacity: 0.8;
  transform: translateY(175%);
}
.swiper-button-next::after,
.swiper-button-prev::after {
  color: #10b981;
  font-size: 2rem;
}
.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #57534e #fafafa;
}

.scrollbar::-webkit-scrollbar {
  width: 2vw;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #57534e;
  border-radius: 2px;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #57534ee2;
}
.scrollbar::-webkit-scrollbar-thumb:active {
  background-color: #626261e2;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #fafafa;
  border-radius: 2px;
}
.scrollbar::-webkit-scrollbar-track:hover {
  background-color: #f5f5f4;
}
.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.line-clamp3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
